//@import url(https://fonts.googleapis.com/css?family=Pacifico);
//@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
//@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
//@import url(https://fonts.googleapis.com/css?family=Handlee);
//@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);

body {
  margin: 0;
}

h1 {
  //font-family: 'Pacifico', cursive;
  //font-family: 'Permanent Marker', cursive;
  //font-family: 'Kaushan Script', cursive;
  //font-family: 'Handlee', cursive;
  //font-family: 'Berkshire Swash', cursive;
  font-family: 'Leckerli One', cursive;
  font-size: 18px;
  margin: 0 8px;
  text-align: center;
}

p {
  margin-top: 0;
}
